@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000000;
}

section {
  background-color: #000000;
}

p {
  text-shadow: 3px 3px 1px #010040;
}

.image-container {
  background-image: url(../assets/backgrounds/city-background-8bit.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100vw;
}

/* 
GRADIENT SPECS
0% = #000000 | 30% = #036080  | 50% = #002040 | 70% = #010040 | 100% = #000021 | 
*/

#cards-container {
  background: #000000;
  background: -moz-linear-gradient(
    top,
    #000000 0%,
    #036080 30%,
    #002040 50%,
    #010040 70%,
    #000021 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #000000),
    color-stop(30%, #036080),
    color-stop(50%, #002040),
    color-stop(70%, #010040),
    color-stop(100%, #000021)
  );
  background: -webkit-linear-gradient(
    top,
    #000000 0%,
    #036080 30%,
    #002040 50%,
    #010040 70%,
    #000021 100%
  );
  background: -o-linear-gradient(
    top,
    #000000 0%,
    #036080 30%,
    #002040 50%,
    #010040 70%,
    #000021 100%
  );
  background: -ms-linear-gradient(
    top,
    #000000 0%,
    #036080 30%,
    #002040 50%,
    #010040 70%,
    #000021 100%
  );
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #036080 30%,
    #002040 50%,
    #010040 70%,
    #000021 100%
  );
}

.card.instructions-container {
  color: #e7dfe7;
  position: absolute;
  top: 150px;
  left: 10%;
  width: 80vw;
  min-width: 1000px;
  height: 640px;
  padding: 20px;
  border-radius: 7px;
  transition: 0.3s;

  border: 3px solid #008080;

  /* transform: translateY(-20%); */
}

.card.instructions-container > .text-container > p {
  font-family: "Ubuntu Mono";
  font-size: 20px;
  text-align: justify;
}

.card.instructions-container > .text-container > hr {
  width: 40%;
  border: 2px solid rgba(139, 139, 139, 0.4);
  margin: 25px auto;
}

.btn {
  width: 20vw;
  min-width: 270px;
  text-align: center;
  margin: 0px auto;
  padding: 3px 10px;
  background-color: #002040;
  border: 3px solid #008080;
  border-radius: 2px;
}

ul {
  padding: 0;
  /* removes extra spacing created due to being a list 
  (pushes slightly to the right, so nothing is ever quite
  aligned with everything else) */
}

li {
  margin: 20px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

li > a {
  font-size: 20px;
  text-align: center;
  color: #e7dfe7;
  text-shadow: 2px 2px 0px #008080;
  font-family: "Press Start 2P";
  margin: 0px 10px;
}

li > a:hover {
  color: #a06020;
  text-shadow: 2px 2px 0px #bdbd7e;
}

.card.header {
  width: 90vw;
  height: 215px;
  margin-top: 0px;
  margin-bottom: 40px;
  border: 9px solid #e7dfe7;
}

.card.last {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.card {
  display: flex;
  color: #e7dfe7;
  position: relative;
  width: 70vw;
  min-width: 950px;
  margin: 20px auto;
  height: 250px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  background-color: #002040;
  border: 3px solid #008080;

  transform: translateY(-18%);
}

.text-container.title-card > p {
  font-size: 20px;
  text-align: justify;
}

.card.left > img {
  /* Card with Image pushed to the left, text to the right */

  position: absolute;
  left: 10px;
  height: 85%;
}

.card.right > img {
  /* Card with Image pushed to the right, text to the left */

  position: absolute;
  right: 10px;
  height: 85%;
}

.text-container {
  padding: 10px;
  /* min height??? */
}

.text-container > h2 {
  font-family: "Press Start 2P";
  font-size: 35px;
  text-shadow: 4px 4px 0px #490702;
  text-align: center;
}

.text-container > h3 {
  font-family: "Press Start 2P";
  font-size: 20px;
  text-shadow: 4px 4px 0px #490702;
}

.text-container > p {
  font-size: 14px;
  font-family: "Ubuntu Mono";
  font-weight: bold;
}

.card.left > .text-container {
  /* Card with Image pushed to the left, text to the right */

  position: absolute;
  left: 30%;
  margin-left: 15px;
  margin-right: 15px;
}

.card.right > .text-container {
  /* Card with Image pushed to the right, text to the left */

  position: absolute;
  right: 30%;
  margin-left: 15px;
  margin-right: 15px;
}

.card:hover {
  box-shadow: 0 8px 20px 0 rgba(139, 139, 139, 0.4);
}

#return-to-top {
  position: relative;
  left: 80%;
  color: #e7dfe7;
}

#return-to-top > p {
  font-size: 12px;
  font-weight: normal;
  float: left;
  padding-right: 15px;
}

.up-arrow {
  border: solid #e7dfe7;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-bottom: 25px;

  padding: 7px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
