@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu+Mono&display=swap");
* {
  font-family: "Press Start 2P";
}

html,
body {
  height: 100%;
}

/*  
//===========================================//
//===========================================//

============   GAMEPLAY DISPLAY  ============

//===========================================//
//===========================================//
*/

.gameplay-container {
  background-image: url("../assets/backgrounds/battle-background-2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100vw;
  height: 90vh;
}

.bad-guy-container {
  position: absolute;
  width: 40vw;
  left: 0;
}

#bad-guy-1 {
  position: relative;
  margin-left: 50%;
  padding-top: 250px;
}

#bad-guy-1 > img {
  height: 150px;
}

.good-guy-container {
  position: absolute;
  width: 40vw;
  right: 0;
}

#good-guy-1 {
  position: relative;
  padding: 135px 100px 0px 0px;
  margin-right: 20px;
}

#good-guy-1 > img {
  height: 100px;
}

#good-guy-2 {
  position: relative;
  padding: 15px 125px 0px 0px;
  margin-right: 20px;
}

#good-guy-2 > img {
  height: 100px;
}

#good-guy-3 {
  position: relative;
  padding: 15px 125px 0px 0px;
  margin-right: 20px;
}

#good-guy-3 > img {
  height: 100px;
}

#good-guy-4 {
  position: relative;
  padding: 15px 125px 0px 0px;
}

#good-guy-4 > img {
  height: 100px;
}

/*  
//===========================================//
//===========================================//

==============  CONTROL PANEL  ==============

//===========================================//
//===========================================//
*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-controls-container {
  display: flex;
  justify-content: space-between;
}

.enemy-stats-container {
  width: 20%;
  min-width: 300px;
  height: 200px;
  margin: 0 3px 0 3px;
  text-align: center;
}

.enemy-stats-container > h2 {
  padding: 10px 0px 10px 0px;
}

.player-action-container {
  width: 25%;
  min-width: 300px;
  height: 200px;
  margin: 0 2px 0 2px;
  text-align: center;
}

#btn-action-1 {
  min-width: 60%;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  border-radius: 7px;
}

#btn-action-2 {
  min-width: 60%;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  border-radius: 7px;
}

#btn-action-3 {
  min-width: 60%;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  border-radius: 7px;
}

#btn-heal-1 {
  min-width: 15%;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  border-radius: 7px;
}

#btn-heal-2 {
  min-width: 15%;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  border-radius: 7px;
}

#btn-heal-3 {
  min-width: 15%;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  border-radius: 7px;
}

#btn-heal-4 {
  min-width: 15%;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  border-radius: 7px;
}

.player-stats-container {
  width: 55%;
  min-width: 710px;
  height: 200px;
  margin: 0 3px 0 3px;
}

.char-container {
  min-width: 100%;
  position: relative;
  text-align: right;
  padding-top: 5px;
  text-overflow: clip;
}

.char-container > h2 {
  position: relative;
  display: inline;
}

.char-container > h2 > span {
  position: relative;
  padding-right: 50px;
  padding-left: 75px;
}

/* OPTION 1 - CLASSIC 8-BIT FF COLORS */
/* div.ff-style {
  box-sizing: border-box;
  border: solid 2px #424542;
  box-shadow: 2px 2px #e7dfe7, -2px -2px #e7dfe7, 2px -2px #e7dfe7,
    -2px 2px #e7dfe7, 0 -3px #9c9a9c, -3px 0 #7b757b, 0 3px #424542;
  padding: 10px 10px;

  background: #04009d;
  background: -moz-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #04009d),
    color-stop(100%, #06004d)
  );
  background: -webkit-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -o-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -ms-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: linear-gradient(to bottom, #04009d 0%, #06004d 100%);

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
} */

/* OPTION 2 - CUSTOM 8-BIT THE BOYS COLORS */
div.ff-style {
  box-sizing: border-box;
  border: solid 2px #424542;
  box-shadow: 2px 2px #e7dfe7, -2px -2px #e7dfe7, 2px -2px #e7dfe7,
    -2px 2px #e7dfe7, 0 -3px #9c9a9c, -3px 0 #7b757b, 0 3px #424542;
  padding: 10px 10px;

  background: #666666;
  background: -moz-linear-gradient(top, #666666 0%, #232323 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #666666),
    color-stop(100%, #232323)
  );
  background: -webkit-linear-gradient(top, #666666 0%, #232323 100%);
  background: -o-linear-gradient(top, #666666 0%, #232323 100%);
  background: -ms-linear-gradient(top, #666666 0%, #232323 100%);
  background: linear-gradient(to bottom, #666666 0%, #232323 100%);

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

div.ff-style * {
  color: #eff1ff;
  text-shadow: 2px 2px #212421, 1px 1px #212021;
  font-family: Verdana, sans-serif;
  /* CIRCLE BACK... Prefer this font, but it is considerably larger, so I will need to rework a decent amount of spacing/sizing...
  font-family: "Press Start 2P";
  */
  font-size: 20px;
  font-weight: normal;
  margin: 3px 0;
}

/*  
//===========================================//
//===========================================//

==============      MODALS     ==============

//===========================================//
//===========================================//
*/

.modal {
  display: block;
}

.modal.closed {
  display: none;
}

#welcome-modal {
  color: #ffffff;
  font-family: "Press Start 2P";
  font-size: 20px;
  background-color: #dfdfdf;
  padding: 30px;
  width: 65vw;
  min-width: 650px;
  min-height: 450px;
  max-height: 750px;
  text-align: center;
  border-radius: 8px;
  position: fixed;
  top: 55%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.rules {
  font-size: 1.35rem;
}

.modal-button {
  color: #ffffff;
  font-size: 1.25rem;
  background-color: #000000;
  border-radius: 4px;
  width: 35%;
  height: 50px;
  min-width: 60%;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  border-radius: 7px;
}

#message-modal {
  color: #ffffff;
  /* font-family: "Press Start 2P"; */
  font-size: 20px;
  width: 45vw;
  min-width: 450px;
  height: 175px;
  position: fixed;
  top: 20%;
  transform: translateY(-20%);
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#winner-modal {
  color: #ffffff;
  font-family: "Press Start 2P";
  font-size: 14px;
  width: 45vw;
  min-width: 450px;
  height: 400px;
  position: fixed;
  top: 20%;
  transform: translateY(-20%);
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#loser-modal {
  color: #ffffff;
  font-family: "Press Start 2P";
  font-size: 14px;
  width: 45vw;
  min-width: 450px;
  height: 250px;
  position: fixed;
  top: 20%;
  transform: translateY(-20%);
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
